.nav {
    padding-top: 33px;
    padding-bottom: 33px;
    margin-left: 824px;
    color: #5FCCDD;
}
.header {
    background-image: url(intro.jpg);
    padding-bottom: 500px;
    padding-top: 500px;
    color: #FFFFFF;
    font-size: 30pt;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    background-size: cover;
    background-position: center center;
}
.col-1 {
    width: 45%;
    padding-top: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    left: auto;
    float: left;
    margin-right: -55px;
    margin-left: -93px;
}
.col-2 {
    text-align: center;
    float: left;
    margin-right: 248px;
    margin-left: 104px;
}
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background-color: #CFCFCF;
    background-position: center center;
    clear: both;
}
.col-3 {
    text-align: center;
    float: left;
}
.col-1-img {
    float: left;
}
.col-2-img {
    float: left;
}
.col-3-img {
    text-align: center;
    float: left;
}
.content-a {
    display: block;
    width: 250px;
    text-align: center;
    margin-left: 536px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;
    background-color: #52CAED;
}
.home {
    color: #51C3DA;
    margin-right: 30px;
    margin-left: 74px;
}
.about {
    margin-right: 32px;
    color: #4BBED6;
}
.cafe {
    color: #4AC0DA;
    margin-right: 31px;
}
.spa {
    margin-right: 32px;
    color: #5DBAD3;
}
.act {
    color: #4BC4D3;
    margin-right: 2px;
}
.nav-img {
    float: left;
    padding-bottom: 28px;
    padding-top: 15px;
}
.col-1-a {
    color: #4EC2E3;
}
.col-2-a {
    color: #61B7D1;
}
.col-3-a {
    color: #60BBD5;
}
